<div class="heading">
  <h1>Wellcome to Sorting Hat system!!!</h1>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-3">
      <img
        src="https://sites.google.com/site/reuxngnaruharrypotter/_/rsrc/1507045681785/4ban-ni-harry-potter/pic048.gif"><br>
      <p id="gryfId"></p>
    </div>
    <div class="col-3">
      <img
        src="https://sites.google.com/site/reuxngnaruharrypotter/_/rsrc/1507046466313/4ban-ni-harry-potter/link14_clip_image001_0001.gif">
      <p id="huffId"></p>
    </div>
    <div class="col-3">
      <img
        src="https://sites.google.com/site/reuxngnaruharrypotter/_/rsrc/1507046669209/4ban-ni-harry-potter/link14_clip_image001_0002.gif">
        <p id="ravenId"></p>
    </div>
    <div class="col-3">
      <img
        src="https://sites.google.com/site/reuxngnaruharrypotter/_/rsrc/1507046918012/4ban-ni-harry-potter/link14_clip_image001_0003.gif">
        <p id="slytId"></p>
    </div>
  </div>
</div>

<div class="formText container text-center">
  <button (click)="sortingHouse()" class="mt-2" type="submit">เริ่มกระบวนการคัดสรร</button>
</div>